@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');

/* Grid Layout for Homepage */
.homepage-grid {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Two equal columns */
    gap: 20px;
    width: 100vw;
    height: 100vh;
    padding: 20px;
    background: #f5f5f5;
}

/* Hero Section */
.hero-section {
    background: url('../../assets/lotus_light.jpg') no-repeat center center;
    background-size: cover;
    color: white;
    text-align: center;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.tagline {
    font-family: 'Playfair Display', cursive;
    font-size: 1.5rem;
    color: purple;
    text-align: center;
    width: 100%;
}

.hero-container {
    position: relative;
    width: 100%;
    max-width: 400px;
}

.hero-image {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
}

.couple-names {
    font-family: 'Great Vibes', cursive;
    font-size: 2rem;
    color: white;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
    text-align: center;
    background: rgba(0, 0, 0, 0.3);
    padding: 10px;
    border-radius: 10px;
}

.welcome-message {
    font-family: 'Dancing Script', cursive;
    font-size: 1.5rem;
    color: white;
    margin-top: 20px;
    background: rgba(0, 0, 0, 0.3);
    padding: 15px;
    border-radius: 10px;
}


/* Event Details Section */
.event-section {
    background: url('../../assets/swamy.jpg') no-repeat center center;
    background-size: cover;
    color: white;
    text-align: center;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.event-title {
    font-family: 'Playfair Display', cursive;
    font-size: 2rem;
    margin-bottom: 10px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.event-details,
.event-date,
.event-time,
.event-venue {
    font-family: 'Dancing Script', cursive;
    font-size: 1.5rem;
    margin: 10px 0;
}

/* Responsive Design */
@media (max-width: 768px) {
    .homepage-grid {
        grid-template-columns: 1fr; /* Switch to a single column layout */
    }

    .hero-section,
    .event-section {
        width: 100%;
    }
}
